* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    background-color: #252525;
}
#game-container {
    background-image: url("assets/background.jpg");
    /*border: 1px solid white;*/
    height: 99vh;
    position: relative;
    width: 100vw;
    height: 100vh;
}

#game-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background-image: url("assets/background.jpg");
    background-repeat: repeat-x;
    background-position: 0;
    animation: scrollBackground 10s linear infinite;
}


@keyframes scrollBackground {
    0% {
        background-position: 0vw;
    }
    100% {
        background-position: -100vw;
    }
}

#bird {
    position: absolute;
    top: 30%;
    left: 20%;
    width: 130px;
    height: 130px;
}

#pipe-container {
    width: 100%;
}

.pipe-upper{
    aspect-ratio: 1;
    position: absolute;
    transform: rotate(180deg);
    animation: moveRight 15s linear infinite;
}

.pipe-lower {
    aspect-ratio: 1;
    top: 60vh;
    position: absolute;
    animation: moveRight 15s linear infinite;
    /*width: 25%;*/
}

@keyframes moveRight {
    0% {
        right: 0;
    }
    100% {
        right: 100vw;
    }
}